
# Build and Tooling
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
bin/
out/
.kotlin

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
nbproject/private/

# Local Environment
local.properties
.DS_Store
Thumbs.db
*.log
